DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=gestion_biblioteca_db
DATABASE_URL=postgresql://admin:admin123@localhost:5432/gestion_biblioteca_db
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1